# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle
/**/.idea/*

# unignore some .idea stuf
!/**/.idea/copyright/
!/**/.idea/inspectionProfiles/
!/**/.idea/codeStyleSettings.xml
!/**/.idea/codeStyles/

# Gradle cache
.gradle
local.properties
*.iml


# Build gen for display

/**/build/*
!/**/build/generated

/**/build/generated/*
!/**/build/generated/source

/**/build/generated/source/*
!/**/build/generated/source/kapt

/**/build/generated/source/kapt/*
!/**/build/generated/source/kapt/debug

/**/build/generated/source/kapt/debug/*
!/**/build/generated/source/kapt/debug/codegraft
!/**/build/generated/source/kapt/debug/evovetech
